
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">            
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating" [ngClass]="{'error': !isValidEmail()}">
                <input formControlName="userEmail" name="userEmail" type="email" class="form-control" id="userEmail" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating" [ngClass]="{'error': !isValidPassword()}">
                <input formControlName="userPassword" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-50 btn btn-lg btn-primary" type="submit">Sign in</button>
            <button class="w-50 btn btn-lg btn-outline-secondary" (click)="cancel()">Cancel</button>
        </form>
    </div>
    </div>
</div>
